@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.text-stroke {
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: inherit;
		color: transparent;
	}

	.text-stroke-2 {
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: inherit;
		color: transparent;
	}

	.text-stroke- {
		&chalkboard-20 {
			-webkit-text-stroke-color: theme('colors.chalkboard.10');
		}
		&chalkboard-100 {
			-webkit-text-stroke-color: theme('colors.chalkboard.120');
		}
	}
}

@layer utilities {
	.link-text {
		@apply font-mono uppercase tracking-wide;
	}
}

:root {
	@apply bg-white text-chalkboard-120;
	@apply dark:bg-chalkboard-120 dark:text-chalkboard-10;
	@apply font-sans;
}

.reverse {
	@apply bg-chalkboard-120 text-chalkboard-10;
	@apply dark:bg-white dark:text-chalkboard-120;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display font-bold;
}

input {
	@apply bg-transparent;
}
