@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;

@layer base {
	@font-face {
		font-family: 'Visby CF';
		src: url('/fonts/visby-cf/VisbyCF-Regular.otf') format('opentype');
		text-rendering: optimizeLegibility;
		font-display: swap;
	}
	@font-face {
		font-family: 'Visby CF';
		src: url('/fonts/visby-cf/VisbyCF-RegularOblique.otf') format('opentype');
		font-style: italic;
		text-rendering: optimizeLegibility;
		font-display: swap;
	}
	@font-face {
		font-family: 'Visby CF';
		src: url('/fonts/visby-cf/VisbyCF-Bold.otf') format('opentype');
		font-weight: bold;
		text-rendering: optimizeLegibility;
		font-display: swap;
	}
	@font-face {
		font-family: 'Visby CF';
		src: url('/fonts/visby-cf/VisbyCF-BoldOblique.otf') format('opentype');
		font-weight: bold;
		font-style: italic;
		text-rendering: optimizeLegibility;
		font-display: swap;
	}
	@font-face {
		font-family: 'Visby CF';
		src: url('/fonts/visby-cf/VisbyCF-Heavy.otf') format('opentype');
		font-weight: 900;
		text-rendering: optimizeLegibility;
		font-display: swap;
	}
	@font-face {
		font-family: 'Visby CF';
		src: url('/fonts/visby-cf/VisbyCF-BoldOblique.otf') format('opentype');
		font-weight: 900;
		font-style: italic;
		text-rendering: optimizeLegibility;
		font-display: swap;
	}
}
