name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 * * * *

permissions:
  contents: read

jobs:
  static-analysis:
    name: Static Analysis
    runs-on: namespace-profile-ubuntu-2-cores

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - run: npm install

      - run: npm run check

      - run: npm run lint

      - run: npm run build